@{
    ViewBag.Title = "Infor";
    ViewBag.namewindow = "mainp";
    var lpps = (PagedList.IPagedList<BHLVTDAL.Data.tblprogress>)ViewBag.lpps;
}
@section styles {
   <link href="~/public/css/datagridstyle.css" rel="stylesheet" />
<link href="~/public/css/customizestyle.css" rel="stylesheet" />
<style>
    .table > tbody > tr > td {
            padding: 1px 5px;
        }

    table.scroll tbody {
        height: 400px;
    }
</style>

}
<div class="content">
    <div class="col-md-12">
        <div class="nav-tabs-custom">
            @Html.Action("MBar", "Cus", new { area = "crm", t = "2", _id = ViewBag._id })
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="col-md-12">
                        <div style="margin-bottom:3px"><a href="javascript:void(0);" onclick="return window_open('@Url.RouteUrl(new {controller="Pps",action="Create",area="crm",_idcus=ViewBag._id })','t',600,300)" class="btn btn-xs btn-flat btn-success"><i class="fa fa-plus"></i></a></div>
                        <div class="table-responsive">
                            <table class="table table-striped scroll table-hover">
                                <thead>
                                    <tr>
                                        <th>STT</th>
                                        <th>Ngày</th>
                                        <th>Nội dung</th>
                                        <th class="text-center">Sửa</th>
                                        <th class="text-center">Xóa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ 
                                        var index = (lpps.PageNumber - 1) * (lpps.PageSize) + 1;
                                        foreach (var i in lpps) {
                                            <tr>
                                                <td><div  style="width:70px">@index</div></td>
                                                <td ><div style="width:150px">@i.date</div></td>
                                                <td ><div style="width:500px">@i.content</div></td>
                                                <td class="text-center"><div style="width:70px" ><a href="javascript:void(0)" onclick="return window_open('@Url.RouteUrl(new { controller = "Pps", action = "Update", area = "crm", _id = i.progressid })','t',600,300)" class="btn btn-xs btn-flat btn-warning" ><i class="fa fa-edit"></i></a></div></td>
                                                <td class="text-center"><div  style="width:70px" ><form onsubmit="return checkvar()" action="/CRM/Pps/Delete" method="post" >@Html.AntiForgeryToken()<input type="hidden" name="_id" value="@i.progressid" /><button class="btn btn-xs btn-flat"><i class="fa fa-trash"></i></button></form></div></td>
                                            </tr>
                                            index++;
                                        }
                                     }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
@section scripts {
 <script src="~/public/js/datatable_process.js"></script>
<script src="~/Areas/CRM/Sources/js/windows.js"></script>
<script>
            $(document).ready(function () {
                process_scroll_table(0);
            });

</script>    
}
