@using System.Globalization
@using PagedList.Mvc
@using BHLVTBLL.Services.Utils
@model BHLVTBLL.ModelsBLL.ViewModel.StatisticViewModel
@{
    
    ViewBag.Title = "_Soph1Search";
    var _lsoph1 = (PagedList.IPagedList<BHLVTDAL.Data.soph1>)ViewBag.lsoph1;
}

<style>
    .pagination {
    margin:unset;
    }
    .table thead tr th span {
     display:inline-block;
    }
    .table tbody tr td .text{
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    .table > tbody > tr > td,
     .table > tbody > tr > th,
     .table > tfoot > tr > td,
     .table > tfoot > tr > th,
     .table > thead > tr > td,
     .table > thead > tr > th {
        padding:3px 8px;
    }
    table.scroll tbody,
    table.scroll thead { display: block; }
    table.scroll tbody {
    height: 300px;
    
    overflow-y: auto;
    overflow-x: hidden;
}
    .input-sm {
     border-radius:0px;
     height:23px;
    }
    .input-group-btn .btn  {
    padding:3px 2px;
    font-size:11px;
    }
    .modal-header {
     padding:8px;
    }
    .modal-body {
     padding:8px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top:none;
    }
    
    .table input[type=checkbox], .table input[type=radio] {
     margin:0px 0 0;
    }

</style>
<form action="~/DonHang/DeleteAll" id="form-order" method="post">
    @Html.AntiForgeryToken()
    <div class="table-responsive">
        <div class="box" style="border-top:0px;padding-left:30px">
            <div class="" style="margin-left:0px">
                <div class="box-header" style="padding-top:15px;padding-bottom:0px">
                    <div class="box-tools" id="page-list-container">
                        @{
                            var pLRO = new PagedListRenderOptions();
                            pLRO.UlElementClasses = new[] { "pagination", "pagination-sm" };

                            @Html.PagedListPager(_lsoph1, Page => Url.Action("SearchSoph1", "DonHang", new { Page }), pLRO)

                        }
                    </div>
                    <div style="padding-left:25px;">
                        <div style="display:inline-block"><span style="font-size:18px">Danh sách đơn hàng</span></div>
                        <div class="col-md-3 row" style="float:none">
                            <div class="input-group margin" style="margin:0px;">
                                <input type="text" class="form-control input-sm" placeholder="Tìm kiếm">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-flat" id="btn-search-order"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body" style="padding-top:3px">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped scroll" id="datatableOrder" style="font-size:smaller">
                            <thead>
                                <tr class="title3" align="center">
                                    <th><input type="checkbox" id="check-all" /></th>
                                    <th>STT</th>
                                    <th><span>Trạng thái</span></th>
                                    <th><span>Khách Hàng</span></th>
                                    <th><span>Địa Chỉ</span></th>
                                    <th><span>Số Điện Thoại</span></th>
                                    <th><span>Diễn Giải</span></th>
                                    <th>Nhân Viên</th>
                                    <th>Số Đơn Hàng</th>
                                    <th style="text-align:right">Tổng tiền</th>
                                    <th>Ngày Lập</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var x = 0;
                                    decimal t_tt = 0;
                                    var index = 0;
                                    if (_lsoph1.Count > 0)
                                    {
                                        var tg = DateTime.Now.ToString("yyyy-MM-dd");
                                        foreach (var soph1 in _lsoph1)
                                        {
                                            x = index++;
                                            t_tt += soph1.t_tt;
                                            <tr class="TD1 row" id="row_@x">
                                                <td><input type="checkbox" value="@soph1.stt_rec" class="stt_rec check-row" data-id="@soph1.stt_rec" name="stt_rec[]" /></td>
                                                <td><div style="width:20px" class="text">@x</div></td>
                                                <td><div style="width:60px" class="text">@UtilsHelper.GetLabelStatus(int.Parse(soph1.trang_thai))</div></td>
                                                <td><div style="width:200px;" title="@soph1.ten_kh" class="text">@soph1.ten_kh</div></td>
                                                <td><div title="@soph1.dia_chi" style="width:200px" class="ct-diachi text">@soph1.dia_chi</div></td>
                                                <td><span class="text">@soph1.dien_thoai</span></td>
                                                <td><div style="width:150px;" class="text">@soph1.dien_giai</div></td>
                                                <td><div style="width:80px" class="text">@soph1.ma_nvkd</div></td>
                                                <td>@soph1.so_ct</td>
                                                <td><div style="width:100px;text-align:right" class="text">@string.Format("{0:0,0}", soph1.t_tt)</div></td>
                                                <td>@soph1.ngay_ct.ToString("dd/MM/yyyy")</td>
                                                @*<td width="50px" class="hidden"><a name="link_sua" class="link_sua" href="javascript:onUpdateCus('@soph1.stt_rec','@tg')"><i class="fa fa-2x fa-edit"></i></a></td>
                                                    <td width="50px" class="hidden"><a href="javascript:call_function.del(@x,'@soph1.stt_rec','@tg','@soph1.ngay_ct')"><i class="fa fa-2x fa-close" style="color:#f30606"></i></a></td>*@
                                            </tr>
                                        }
                                    }
                                    else
                                    {

                                    }

                                }
                            </tbody>
                        </table>

                    </div>
                    <div class="row" style="text-align:right">
                        <b>Tổng :&nbsp;</b><span style="color:#dc0303">@string.Format("{0:0,0}", t_tt)</span>
                    </div>
                </div>


            </div>
        </div>



    </div>
</form>
  
    <div id="modal_search_order" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
@using (Html.BeginForm("ListDH", "DonHang", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Tìm kiếm đơn hàng</h4>
                </div>
                <div class="modal-body">
                   
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Tiêu đề</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control input-sm" value="Bảng Kê Đơn Hàng" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <label>Tháng / Kỳ</label>
                            </div>
                            <div class="col-md-3" style="padding-right:2px">
                                <select class="easyui-combobox form-control input-sm" id="typedate" data-options="onChange:changetypedate">
                                    <option value="3">Tùy chọn</option>
                                    <option value="0">Cả năm</option>
                                    <option value="1">Tháng</option>
                                    <option value="2">Tuần</option>
                                  
                                </select>
                            </div>
                            <div class="col-sm-3" style="padding-left:2px">
                                @Html.TextBoxFor(model => model.FromDate, new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(model => model.ToDate, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                <label>Trạng thái</label>
                            </div>
                            <div class="col-sm-9">
                                <select class="easyui-combobox form-control input-sm" name="TrangThai" id="TrangThai" data-options="editable: false">
                                    <option value="">Chọn</option>
                                    @{
                                        foreach (var i in UtilsHelper.GetListComboStatusOrder())
                                        {
                                            <option value="@i.id" @{if (Model.TrangThai == i.id.ToString())
                                                {@("selected") } }>@i.text</option>
                                                }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.MaKH, "Mã khách hàng")
                            </div>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.MaKH, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.MaVT, "Mã vật tư")
                            </div>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.MaVT, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.MaNVKD, "Mã NVKD")
                            </div>
                            <div class="col-sm-9">

                                @Html.TextBoxFor(model => model.MaNVKD, new { @class = "form-control input-sm" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(model => model.SoCT, "Mã CT")
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(model => model.SoCT, new { @class = "form-control input-sm" })
                            </div>
                        </div>  
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm btn-crcust" ><i class="fa fa-gear"></i> Thực hiện</button>
                    <button class="btn btn-default btn-sm btn-close" type="reset" onclick="" data-dismiss="modal"><i class="fa fa-undo"></i> Bỏ qua</button>
                </div>
               }
            </div>
        </div>
    </div>


