<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/Themes/XConfig/style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div id="container">
        @Html.Partial("PartialView/_Header")

        @Html.Partial("PartialView/_MenuMain")


        <div>
            @RenderBody()
        </div>
        <div class="clearfix"></div>

       
        @Html.Partial("PartialView/_Footer")
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>

