@model BHLVT.Models.InputData
@using BHLVTBLL.Services.XConfig
@{
    
    var web_view = ((WebView)(new WebView()
                    .SetWebViewPage(this)
                    .setAction("Index")
                    .setController("DonHang")
                    .setArea(" "))).Prepare();
}
@section styles{

    <link href="~/public/css/customizestyle.css" rel="stylesheet" />
    @(new HtmlString(web_view.GetRegisterStyles()))
}
<section class="content" style="padding-top:0px;">
    <div>
    <section class="content-header" style="padding:7px 0px">
        @Html.Partial("~/Views/Shared/_PartialView/_MenuButtonsEasyui.cshtml",
    new Dictionary<string, Object>() { /*{"isHideAddBtn", true },*/ { "idMenu", "menu1" }})
    </section>
    </div>
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="easyui-tabs" style="" id="tab1">
                <div title="@(web_view.GetLabelElement("tab1_gen_infor"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab1_GenInformations.cshtml", new Dictionary<string, Object>() { { "web_view", web_view } })
                </div>
                <div title="@(web_view.GetLabelElement("tab1_address"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab1_Address.cshtml",new { })
                </div>
                <div title="@(web_view.GetLabelElement("tab1_delivery"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab1_Delivery.cshtml",new { })
                </div>
                <div title="@(web_view.GetLabelElement("tab1_purchase"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab1_Purchase.cshtml",new { })
                </div>
                <div title="@(web_view.GetLabelElement("tab1_discount"))" style="padding:10px">
                </div>
                <div title="@(web_view.GetLabelElement("tab1_budget"))" style="padding:10px">
                </div>
                <div title="@(web_view.GetLabelElement("tab1_other"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab1_Other.cshtml",new { })
                </div>
                <!--<div title="Help" data-options="iconCls:'icon-help',closable:true" style="padding:10px">
                    This is the help content.
                </div>-->
            </div>
        </div>
        <div class="col-md-12">
            <div class="easyui-tabs" style="" id="tab2">
                <div title="@(web_view.GetLabelElement("tab2_details"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab2_Details.cshtml", new Dictionary<string, Object>() {{ "web_view", web_view } })
                </div>
                <div title="@(web_view.GetLabelElement("tab2_address"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab2_Address.cshtml", new { })
                </div>
                <div title="@(web_view.GetLabelElement("tab2_delivery"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab2_Delivery.cshtml", new { })
                </div>
                <div title="@(web_view.GetLabelElement("tab2_quantity"))" style="padding:10px">
                    @*@Html.Partial("~/Views/DonHang/_Tab2_Purchase.cshtml", new { })*@
                </div>
                <div title="@(web_view.GetLabelElement("tab2_budget"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab2_Budget.cshtml", new { })
                </div>
                <div title="@(web_view.GetLabelElement("tab2_other"))" style="padding:10px">
                    @Html.Partial("~/Views/DonHang/_Tab2_Other.cshtml", new { })
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 hidden" style="overflow-x: auto;overflow-y: auto; max-height:calc(100% - 68px);">
            <form action="@Url.RouteUrl(new { controller = "DonHang", action = "PostData", area = "" })" method="post">
                @{/*for (var i = 0; i < 3; i++)  {
<div>
   @Html.TextBoxFor(model => model.name, new { @class = "form-control" })<br></br>
</div>
} */}
                <div id="tb" style="height:auto">
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="/*iconCls:'icon-add',*/plain:true" onclick="append()"><i class="fa fa-fw fa-plus"></i>&nbsp;Append</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="/*iconCls:'icon-remove',*/plain:true" onclick="removeit()"><i class="fa fa-fw fa-trash"></i>&nbsp;Remove</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="/*iconCls:'icon-save',*/plain:true" onclick="accept()"><i class="fa fa-fw fa-save"></i>&nbsp;Accept</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" data-options="/*iconCls:'icon-undo',*/plain:true" onclick="reject()"><i class="fa fa-fw fa-rotate-left"></i>&nbsp;Reject</a>
                </div>

                <div><button type="submit">Submit</button></div>
            </form>
        </div>
    </div>
    <div>

    </div>
</section>
@section scripts{
    @Html.Raw(web_view.GetRegisterScripts())
}