@model List<BHLVTDAL.Data.tblemployee>
@{
    var controller = "Emps";
}
@section styles{

    <link href="~/public/css/datagridstyle.css" rel="stylesheet" />
    <link href="~/public/css/customizestyle.css" rel="stylesheet" />
    <style>
        .table > tbody > tr > td {
        padding:1px 5px;
        }
    </style>
}
<div class="">
    <div class="content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách nhân viên</h3>
                    <div style="display:inline;float:right"><a href="@Url.RouteUrl(new { controller = controller, action = "Create", area = "crm" })" class="btn btn-success"><i class="fa fa-plus"></i></a></div>
                </div>
                <div class="">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Đăng Nhập</th>
                                    <th>Tên</th>
                                    <th>Họ</th>
                                    <th>Giới tính</th>
                                    <th>Ngày sinh</th>
                                    <th>Ngày làm</th>
                                    <th>Email</th>
                                    <th>Di động</th>
                                    <th>Bộ phận</th>
                                    <th>PQ</th>
                                    <th>Sửa</th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    foreach (var i in Model)
                                    {
                                        <tr>
                                            <td>@i.username</td>
                                            <td>@i.firstname</td>
                                            <td>@i.lastname</td>
                                            <td>@i.sex</td>
                                            <td>@i.birthday</td>
                                            <td>@i.workday</td>
                                            <td>@i.email</td>
                                            <td>@i.mobile</td>
                                            <td>@i.department</td>
                                            <td class="text-center"><a href="@Url.RouteUrl(new {controller="Emps",action="MPermission" ,area="crm",_id=i.username})"><i class="fa fa-users"></i></a></td>
                                            <td class="text-center"><a href="@Url.RouteUrl(new {controller="Emps",action="Update" ,area="crm",_id=i.username})"><i class="fa fa-edit"></i></a></td>
                                            <td class="text-center"><a href=""><i class="fa fa-trash"></i></a></td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
       
