@model List<BHLVTBLL.ModelsBLL.DataModel.spGLRptCdpsTk_Result>
@{
    ViewBag.Title = "_PreviewData";
}
<style>
    .table thead tr th  {
      text-align:center
    }
    .tbl-preview > tbody > tr > td {
        padding: 2px 2px;
    }
    .tbl-preview > thead > tr > th {
    padding:2px 2px;
    }
    .table > thead > tr > th {
    border-collapse:collapse;
    }
    .text-rspan {
    line-height:40px !important;
    }
    p {
    margin:0 0 5px;
    }
</style>
<br />
<div class="col-md-12" style="max-height:400px;overflow-y:auto">
    <div class="col-md-3">CÔNG TY ABC</div>
    <div class="col-md-offset-9">
        <p>Mẫu số</p>
        <p>Ban hành theo QĐ số 15/2006/QĐ/BTC</p>
        <p>Ngày 20/03/2006 của bộ trưởng BTC)</p>
    </div>
    <h4 class="text-center">BẢNG CÂN ĐỐI PHÁT SINH CÁC TÀI KHOẢN</h4>
    <h5 class="text-center" style="font-size:11px">Năm @DateTime.Now.Year</h5>
    <div>
        <table class="table tbl-preview">
            <thead style="background-color:#cefff3">
                <tr>
                    <th rowspan="2" class="text-rspan">Tài Khoản</th>
                    <th rowspan="2" class="text-rspan">Tên tài khoản</th>
                    <th colspan="2">Dư đầu kỳ</th>
                    <th colspan="2">Phát sinh</th>
                    <th colspan="2">Dư cuối kỳ</th>
                </tr>
                <tr>
                    <th>Nợ</th>
                    <th>Có</th>
                    <th>Nợ </th>
                    <th>Có</th>
                    <th>Nợ</th>
                    <th>Có</th>
                </tr>
            </thead>
            <tbody>
                @{ 
                    foreach (var i in Model) {
                        <tr >
                            <td>@i.Tk</td>
                            <td>@i.Ten_tk</td>
                            <td class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.no_dk))</td>
                            <td class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.co_dk))</td>
                            <td class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.ps_no))</td>
                            <td class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.ps_co))</td>
                            <td class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.no_ck))</td>
                            <td class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.co_ck))</td>
                        </tr>
                    }
                    
                }
            </tbody>
        </table>
    </div>
</div>

