@model List<BHLVTBLL.ModelsBLL.DataModel.spGLRptCdpsTk_Result>
@{
    ViewBag.Title = "_DataSearch";
    // Layout = "~/Views/Shared/_LayoutReceipt.cshtml";

}

<style>
    .table > tbody > tr > td {
    padding:2px 0px;
    }
</style>
<div>
    <div class="table-responsive">
        <table class="table table-striped scroll" id="datatable" style="font-size:11px;">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tài Khoản</th>
                    <th>Tên TK</th>
                    <th>Nợ ĐK</th>
                    <th>Có ĐK</th>
                    <th>PS nợ</th>
                    <th>PS Có</th>
                    <th>Nợ CK</th>
                    <th>Có CK</th>
                </tr>
            </thead>
            <tbody style="height:370px">
                @{ 
                    var index = 1;
                    foreach (var i in Model) {
                        <tr class="row">
                            <td><div style="width:50px">@index</div></td>
                            <td><div style="width:100px">@i.Tk</div></td>
                            <td><div style="">@i.Ten_tk</div></td>
                            <td><div style="width:150px" class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.no_dk))</div></td>
                            <td><div style="width:150px" class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.co_dk))</div></td>
                            <td><div style="width:100px" class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.ps_no))</div></td>
                            <td><div style="width:100px" class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.ps_co) )</div></td>
                            <td><div style="width:100px" class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.no_ck))</div></td>
                            <td><div style="width:100px" class="text-right">@string.Format("{0:0,0}", decimal.Parse(i.co_ck))</div></td>
                        </tr>

                        index++;
                    }
                }
            </tbody>

        </table>
    
    </div>
</div>

