@model BHLVT.Data.invt

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>invt</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ma_cty)

        @Html.HiddenFor(model => model.ma_vt)

        <div class="form-group">
            @Html.LabelFor(model => model.ten_vt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ten_vt)
                @Html.ValidationMessageFor(model => model.ten_vt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.part_no, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.part_no)
                @Html.ValidationMessageFor(model => model.part_no)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvt)
                @Html.ValidationMessageFor(model => model.dvt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvt_ban, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvt_ban)
                @Html.ValidationMessageFor(model => model.dvt_ban)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hs_dvtban, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hs_dvtban)
                @Html.ValidationMessageFor(model => model.hs_dvtban)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvt_mua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvt_mua)
                @Html.ValidationMessageFor(model => model.dvt_mua)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hs_dvtmua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hs_dvtmua)
                @Html.ValidationMessageFor(model => model.hs_dvtmua)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ton_kho, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ton_kho)
                @Html.ValidationMessageFor(model => model.ton_kho)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gia_ton, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gia_ton)
                @Html.ValidationMessageFor(model => model.gia_ton)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_vt_vo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_vt_vo)
                @Html.ValidationMessageFor(model => model.ma_vt_vo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_vt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_vt)
                @Html.ValidationMessageFor(model => model.tk_vt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_dt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_dt)
                @Html.ValidationMessageFor(model => model.tk_dt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_dtnb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_dtnb)
                @Html.ValidationMessageFor(model => model.tk_dtnb)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_gv, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_gv)
                @Html.ValidationMessageFor(model => model.tk_gv)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_tl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_tl)
                @Html.ValidationMessageFor(model => model.tk_tl)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_ck, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_ck)
                @Html.ValidationMessageFor(model => model.tk_ck)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_dt_vo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_dt_vo)
                @Html.ValidationMessageFor(model => model.tk_dt_vo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tk_coc_vo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tk_coc_vo)
                @Html.ValidationMessageFor(model => model.tk_coc_vo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tinh_gt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tinh_gt)
                @Html.ValidationMessageFor(model => model.tinh_gt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_nhvt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_nhvt)
                @Html.ValidationMessageFor(model => model.ma_nhvt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nhom_vat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nhom_vat)
                @Html.ValidationMessageFor(model => model.nhom_vat)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sl_min, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sl_min)
                @Html.ValidationMessageFor(model => model.sl_min)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sl_max, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sl_max)
                @Html.ValidationMessageFor(model => model.sl_max)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thue_nk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thue_nk)
                @Html.ValidationMessageFor(model => model.thue_nk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thue_gtgt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thue_gtgt)
                @Html.ValidationMessageFor(model => model.thue_gtgt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thue_xk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thue_xk)
                @Html.ValidationMessageFor(model => model.thue_xk)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.thue_ttdb, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.thue_ttdb)
                @Html.ValidationMessageFor(model => model.thue_ttdb)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_kho, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_kho)
                @Html.ValidationMessageFor(model => model.ma_kho)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_vitri, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_vitri)
                @Html.ValidationMessageFor(model => model.ma_vitri)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.barcode_fifo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.barcode_fifo)
                @Html.ValidationMessageFor(model => model.barcode_fifo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ghi_chu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ghi_chu)
                @Html.ValidationMessageFor(model => model.ghi_chu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.han_bh_ncc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.han_bh_ncc)
                @Html.ValidationMessageFor(model => model.han_bh_ncc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.han_bh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.han_bh)
                @Html.ValidationMessageFor(model => model.han_bh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_nt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_nt)
                @Html.ValidationMessageFor(model => model.ma_nt)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gia_mua, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gia_mua)
                @Html.ValidationMessageFor(model => model.gia_mua)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.gia_ban, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.gia_ban)
                @Html.ValidationMessageFor(model => model.gia_ban)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sd)
                @Html.ValidationMessageFor(model => model.sd)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cUser)
                @Html.ValidationMessageFor(model => model.cUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cDate)
                @Html.ValidationMessageFor(model => model.cDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lUser, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lUser)
                @Html.ValidationMessageFor(model => model.lUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.lDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.lDate)
                @Html.ValidationMessageFor(model => model.lDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Loai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Loai)
                @Html.ValidationMessageFor(model => model.Loai)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Anh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Anh)
                @Html.ValidationMessageFor(model => model.Anh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.tao_sku, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tao_sku)
                @Html.ValidationMessageFor(model => model.tao_sku)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.trong_luong, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.trong_luong)
                @Html.ValidationMessageFor(model => model.trong_luong)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.postvo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.postvo)
                @Html.ValidationMessageFor(model => model.postvo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.dvt_ban2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dvt_ban2)
                @Html.ValidationMessageFor(model => model.dvt_ban2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.hs_dvtban2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.hs_dvtban2)
                @Html.ValidationMessageFor(model => model.hs_dvtban2)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ma_kh, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ma_kh)
                @Html.ValidationMessageFor(model => model.ma_kh)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.file_pdf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.file_pdf)
                @Html.ValidationMessageFor(model => model.file_pdf)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.xuat_xu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.xuat_xu)
                @Html.ValidationMessageFor(model => model.xuat_xu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quy_cach, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quy_cach)
                @Html.ValidationMessageFor(model => model.quy_cach)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
