@model BHLVTDAL.Data.arkh

@using (Html.BeginForm("CreateAjax", "arkhs", null, FormMethod.Post,new { @class = "form-horizontal", id = "frm-crcust" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.ma_kh, "Mã khách hàng")
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(x => x.ma_kh, new { @class = "form-control input-sm", placeholder = "ID khách hàng( bắc buộc )" })
            @Html.ValidationMessageFor(model => model.ma_kh)
            @*<input type="text" id="customer_name" name="customer_name" class="form-control" value="" placeholder="Nhập tên khách hàng( bắc buộc )">
                <span style="color: red; font-style: italic;" class="error error-customer_name"></span>*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.ten_kh,"Tên khách hàng")
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(x=>x.ten_kh,new  {@class= "form-control input-sm", placeholder = "Nhập tên khách hàng( bắc buộc )" })
            @Html.ValidationMessageFor(model => model.ten_kh)
            @*<input type="text" id="customer_name" name="customer_name" class="form-control" value="" placeholder="Nhập tên khách hàng( bắc buộc )">
              <span style="color: red; font-style: italic;" class="error error-customer_name"></span>*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.tel,"Điện thoại")
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.tel, new { placeholder = "" , @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.tel)
            @*<input type="text" id="customer_name" name="customer_name" class="form-control" value="" placeholder="Nhập tên khách hàng( bắc buộc )">
                <span style="color: red; font-style: italic;" class="error error-customer_name"></span>*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.email,"Email")
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.email, new { placeholder = "Nhập email khách hàng ( ví dụ: kh10@gmail.com )", @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.email)
            @*<input type="text" id="customer_name" name="customer_name" class="form-control" value="" placeholder="Nhập tên khách hàng( bắc buộc )">
                <span style="color: red; font-style: italic;" class="error error-customer_name"></span>*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.dia_chi,"Địa chỉ")
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.dia_chi, new { @class = "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.dia_chi)
            @*<input type="text" id="customer_name" name="customer_name" class="form-control" value="" placeholder="Nhập tên khách hàng( bắc buộc )">
                <span style="color: red; font-style: italic;" class="error error-customer_name"></span>*@
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3">
            @Html.LabelFor(model => model.ghi_chu,"Ghi chú")
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(model => model.ghi_chu, new { @class= "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.ghi_chu)
            @*<input type="text" id="customer_name" name="customer_name" class="form-control" value="" placeholder="Nhập tên khách hàng( bắc buộc )">
                <span style="color: red; font-style: italic;" class="error error-customer_name"></span>*@
        </div>
    </div>
    <div id="content-alert">
        
    </div>
    

}